.ReportsDashboardComponent {
    text-align: center;
}

.ReportsDashboardComponent .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.ReportsDashboardComponent .error-message {
    color: red;
}